*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.burger {
    display: none;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

header h1 {
    margin-left: 10%;
    font-family: 'Marck Script', cursive;
}

ul {
    display: inline-flex;
    position: absolute;
    align-items: center;
    margin-left: 45%;
    list-style: none;
    font-size: 18px;
}

li { 
    margin-left: 40%;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    display: flex;
    color: white;
    font-family: 'Ropa Sans', sans-serif;
}

 a:hover {
    color: #d79b02;
}


.firstcontent {
    width: 100%;
    height: 835px;
    position: relative;
}

.firstcontent img{
    width: 100%;
    height: 835px;
    position: absolute;
}

.content-child {
    position: absolute;
    margin-left: 50%;
    /* margin-top: 25%; */
    background-color: #2525257d;
    height: 835px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Marck Script', cursive;
}

.content-child h1 {
    font-size: 60px;
    color: white;
}

.secondcontent {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.secondcontent h2 {
    font-size: 40px;
    font-family: 'Marck Script', cursive;
}

.secondcontent p {
    font-size: 15px;
    font-family: 'Ropa Sans', sans-serif;
    line-height: 20px;
}



.slide img {
    width: 610.5px;
    height: 450px;
    transition: transform 1s;
    animation-name: scroll;
    animation-direction: alternate;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

img:hover {
    transform: translateZ(20px);
}

.slide{
    margin: 0px 10px 0px 0px;
}

.slide-track {
    display: flex;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: calc(250px * 7.6);
    
}



@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 4));
    }
}

.slider::after {
    content: "";
    /*position: fixed;*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(2, 2, 2, 0.877)0%, rgba(255,255,255, 0)100%);
    position: absolute;
    width: 15%;
    z-index: 2;
    transform: translate(0px, 1163px);
    height: 450px;
}

.slider::before {
    content: "";
    /*position: fixed;*/
    left: 1750px;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgb(8, 8, 8)0%, rgba(56, 56, 56, 0)100%);
    position: absolute;
    width: 15%;
    z-index: 2;
    transform: translate(-132px, 1163px);
    height: 450px;
}

.contact-container {
    display: flex;
    height: 500px;
}

.contact{
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 70px;
}

.contact h1 {
    margin-top: 30px;
    font-size: 45px;
    font-family: 'Marck Script', cursive;
}

.contact p {
    font-size: 20px;
    font-family: 'Ropa Sans', sans-serif;
}

.contact-container form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



label {
    color: white;
    font-size: 20px;
    font-family: 'Ropa Sans', sans-serif;
}

.ne-container {
    display: flex;
    margin-bottom: 30px;
}

.ne-container label {
    display: block;
}

.name {
    margin-right: 50px;
    width: 44%;
}

.pa-container {
    display: flex;
    margin-bottom: 30px;
}

.pa-container label {
    display: block;
}

.phone {
    margin-right: 50px;
    width: 44%;
}

.phone input {
    width: 169px;
}

.subject {
    margin-bottom: 30px;
    width: 41%;
}

.subject label {
    display: block;
}

.message {
    margin-bottom: 30px;
    width: 41%;
}

.message label {
    display: block;
    margin-bottom: 20px;
}

.message input {
    width: 99.7%;
}

.subject input {
    width: 99.7%;
}

.contact-container form input {
    background-color: transparent;
    background-color: transparent;
    border: transparent;
    border-bottom: white solid 2px;
    color: white;
    height: 30px;
    outline: none;
    transition: 0.5s;
    
}

textarea {
    background-color: transparent;
    border: transparent;
    border-bottom: white solid 2px;
    color: white;
    outline: none;
    transition: 0.5s;
    height: 30px;
    
}

.contact-container form input:focus {
    border-bottom-color: #d79b02;
}

textarea:focus {
    border-bottom-color: #d79b02;
}

button {
    width: 41%;
    height: 10%;
    transition: 1s;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}

button:hover {
    background-color: #d79b02;
}

.map {
    width: 100%;
}

iframe {
    width: 100%;
}

.sub {
    height: 350px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Marck Script', cursive;
}

.sub {
    text-align: center;
}

.sub form {
    width: 100%;
    margin-bottom: 100px;
}

.sub form input {
    width: 25%;
}

.sub button {
    width: 5%;
    height: 45px;
    transition: 1s;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}

.ej-container {
    width: 100%;
}

.sub .info span {
    font-size: 15px;
}

.info {
    width: 100%;
    line-height: 50px;
}

.info h3 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 30px;
}

.info .last {
    margin-top: 25px;
    margin-bottom: 20px;
}

.sub form .ej-container input {
    border: solid 2px #ffffff;
    height: 40px;
    background-color: transparent;
}

.sub form .ej-container input:focus {
    border-color: #d79b02;
    color: white;
    font-size: 20px;
}


.sub form .ej-container input::placeholder {
    font-size: 20px;
}

.info2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
}


















